---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ProfileImage from "../components/ProfileImage.astro";
import NavBar from "../components/NavBar.astro";
import Modal from "../components/Modal.astro";
import Contact from "../components/ContactForm.astro";
import Hero from "/public/hero.webp";
import HeroMobile from "/public/mobile/hero-mobile.webp";
import { Image } from "@astrojs/image/components";
---

<Layout title="Moving Homes Together">
  <main class="flex flex-col">
    <NavBar />
    <Modal />
    <div class="bg-cover bg-center h-[80svh] m-0">
      <Image class="imm hidden pc:block" src={Hero} alt="" width={2048} height={2048} />
      <Image class="imm pc:hidden" src={HeroMobile} alt="" width={1024} height={1024} />
      <h2 class="hero-text text-[1.5rem] tablet:text-[2.5rem]">Getting ready to move can be stressful. We can help.</h2>
      <h1 class="hero-text text-[2em] tablet:text-[5rem]">We are with you all the way</h1>
    </div>

    <div class="text-center text-blue mx-[10vw] my-[8svh]" id="about">
      <h2 class="text-[2.5rem]">About Us</h2>
      <ul role="list" class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-4 p-0">
        <Card
          src="/organization.webp"
          srcmobile="mobile/organization-mobile.webp"
          title="Organization and Planning"
          body="Making the most of your space - edit and organize."
        />
        <Card
          src="/care.webp"
          srcmobile="mobile/care-mobile.webp"
          title="Moving with Care and Ease"
          body="Thinking and planning ahead for your move is the most important part of the process."
        />
        <Card
          src="/declutter.webp"
          srcmobile="mobile/declutter-mobile.webp"
          title="Decluttering and Downsizing"
          body="Our goal is to keep your process stress free."
        />
      </ul>
    </div>

    <div class="testimonials text-center text-[white] bg-cover bg-center mx-[5svh] my-[8vh]" id="testm">
      <h2 class="text-[2.5rem] pt-12 mb-6">See what our customers are saying</h2>
      <ul
        role="list"
        class="grid justify-items-center grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-4 mx-[5vw] p-0"
      >
        <ProfileImage
          src="/organization.webp"
          srcmobile="mobile/organization-mobile.webp"
          title="Customer Testimonial"
          body="We had a stress-free and easy move with the help of Rachel and her team. \
			          From assistance with downsizing editing, and decluttering to packing and moving,\
			          Rachel and her team were there every step of the way."
          user="M.S. Needham, MA"
        />
        <ProfileImage
          src="/care.webp"
          srcmobile="mobile/care-mobile.webp"
          title="Customer Testimonial"
          body="My husband and I have worked with Rachel Carter for over a year.\
			          We wanted to sell our 'too large' home and downsize to a smaller property.\
			          We relied on Rachel to stage, market, and sell out house while also looking\
			          for a new and appropriate place to live. Navigating through the dual process, \
                Rachel’s constant attention to detail was invaluable. Every phase of downsizing,\
                selling, buying and moving with both properties was handled calmly, professionally,\
                and with great care. Rachel helped lead us to an ideal outcome."
          user="P.W. Newton, MA"
        />
        <ProfileImage
          src="/declutter.webp"
          srcmobile="mobile/declutter-mobile.webp"
          title="Customer Testimonial"
          body="We had a wonderful experience working with Rachel in getting ready to move\
                and put our house on the market. Her recommendations on home staging and space\
                organizing greatly improved how our house presented and made our move into our\
                new home that much easier. Rachel's professional, thorough knowledge and\
                attitude contributed to a very successful experience. We will definitely recommend her!"
          user="A.A. Wellesley, MA"
        />
      </ul>
      <div class="h-16"></div>
    </div>
    <Contact />
    <div class="h-32 bg-[#eeeeee]">
      <p class="text-center text-[rgb(89,89,89)] text-[0.8rem] pt-16">
        COPYRIGHT © 2023 MOVING HOMES TOGETHER - ALL RIGHTS RESERVED
      </p>
    </div>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
  }
  .imm {
    z-index: 0;
    height: 80svh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(70%);
  }
  .hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 1;
  }
  @media (max-width: 700px) {
    .testimonials {
      background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/mobile/testm-mobile.webp");
    }
  }
  @media (min-width: 700px) {
    .testimonials {
      background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/testm.webp");
    }
  }
</style>
<script>
  const hero = document.getElementsByClassName("imm")[0];
  window.addEventListener("scroll", () => {
    let { scrollY } = window;
    const yScroll = ((scrollY * 2) / window.innerHeight) * 0.6;
    const scrollPercentage = Math.max(Math.min(yScroll, 1), 0) * -50 + 50;
    if (window.screen.width > 700) {
      console.log(scrollPercentage);
      hero.animate(
        {
          objectPosition: `center ${scrollPercentage}%`,
        },
        { duration: 400, fill: "forwards" }
      );
    }
  });
  document.querySelector(".menu")?.addEventListener("click", () => {
    const navLinks = document.querySelector(".nav-links");
    if (navLinks) {
      navLinks.classList.add("expanding");
      setTimeout(() => {
        navLinks.classList.remove("expanding");
        navLinks.classList.toggle("expanded");
      }, 50);
    }
  });
  document.querySelector(".imm")?.addEventListener("click", () => {
    const navLinks = document.querySelector(".nav-links");
    if (navLinks && navLinks.classList.contains("expanded")) {
      navLinks.classList.add("expanding");
      setTimeout(() => {
        navLinks.classList.remove("expanding");
        navLinks.classList.toggle("expanded");
      }, 200);
    }
  });
</script>
