<h2 class="text-center text-blue text-[2rem] mb-8" id="contact">Arrange Your Free Consultation</h2>
<h3 class="text-center text-blue mb-2">Click here to Email me directly</h3>

<div class="flex justify-center items-center flex-col mb-32">
  <button
    class="bg-blue text-[white] no-underline font-semibold text-center rounded mb-2"
    onclick="window.location.href='mailto:rachel.carter@cbrealty.com'"
  >
    Rachel.Carter@cbrealty.com
  </button>
  <h3 class="text-center text-blue">Tel: 617-595-8644</h3>
</div>

<style>
  button {
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    transition: 0.3s;
  }
  button:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 40px 0 rgba(0, 0, 0, 0.14);
  }
</style>
