<div class="flex justify-start items-center flex-row gap-4 m-0 p-0">
  <div class="flex justify-center justify-self-center flex-col text-blue ml-[2vw] m-0">
    <h3 class="text-base pc:text-2xl m-0">Moving Homes Together</h3>
    <h4 class="text-[0.6rem] pc:text-base m-0">Moving | Organizing | Design</h4>
  </div>
  <img class="w-12 pc:w-16" src="home.svg"alt="Logo" />
</div>
