<div class="menu pc:hidden">
  <img class="w-14 pr-5" src="/menu.svg" alt="menu"/>
  <div class="nav-links py-2 bg-[white] hidden absolute origin-top-right right-0 z-10 mt-6 w-48 rounded-md  shadow-lg focus:outline-none transition-all duration-100 ease-in-out transform">
    <a class="nav-links text-blue block text-left no-underline px-4 py-2" href="#op-about">About</a>
    <a class="nav-links text-blue block text-left no-underline px-4 py-2" href="#testm">Testimonials</a>
    <a class="nav-links text-blue block text-left no-underline px-4 py-2" href="#contact">Contact</a>
  </div>
</div>

<style>
  .nav-links a {
    display: block;
    text-align: left;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .nav-links a:hover,
  a:focus {
    background-color: #78aff4;
  }

  .nav-links.expanded {
    min-width: 29%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    opacity: 1;
    scale: 100%;
    transition: all 100ms ease-in-out;
    transform-origin: top right;
  }

  .nav-links.expanding {
    opacity: 0;
    display: block;
    scale: 85%;
    transition: all 100ms ease-in-out;
  }
</style>
