  <div id="openModal-about" class="modalDialog">
      <div class="content">
         <a href="#close" title="Close" class="close">X</a>
         <h2>About Rachel:</h2>
         <p>Through her years of working as a realtor as well as her personal experience in helping her parents and clients downsize, Rachel has learned that planning ahead is essential to any potential move. Too many of us wait too long to start editing, organizing and decluttering. The key is to think ahead and don’t wait. Start your process now!

Rachel is both a dedicated real estate agent and a move management consultant with a proven track record and over 25 years of experience in sales and marketing. She is committed to securing the best financial outcomes for her clients and has a proven track record of success in representing both buyers and sellers. Rachel has expertise in home renovation and is able to provide insightful advice to those buying or selling a property. She is a native of Boston and has lived in Wellesley for 20+ years, actively involved in her community through her membership in various programs and committees. Rachel and her family also own a home on Cape Cod and she is happy to assist buyers in their search for properties there.</p>
       </div>
   </div>

<style>
  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
h2{
    color: var(--accent)
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 0.5rem;
    background: #fff;
}
.close {
    color: #AAAAAA;
    line-height: 25px;
    text-align: center;
    align-self: flex-end;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
}
.close:hover {
    color: #fa3f6f;
}
</style>
