<div id="op-about" class="modalDialog fixed z-[99999] inset-0">
  <div class="flex flex-col max-w-[max(50vh,40vw)] relative mx-auto my-[10%] pb-8 px-8 p-4 rounded-lg bg-white">
    <div class="flex justify-between items-center flex-row">
      <h2 class="text-blue text-[1.2rem] font-semibold">About Rachel</h2>
      <a href="#close" title="Close" class="close">
        <img src="/close.svg" alt="close flex justify-center items-center w-8 h-8 no-underline font-bold text-[grey]"/>
      </a>
    </div>
    <p class="mt-2 text-sm pc:text-base">
      Through her years of working as a realtor as well as her personal experience in helping her parents and clients
      downsize, Rachel has learned that planning ahead is essential to any potential move. Too many of us wait too long
      to start editing, organizing and decluttering. The key is to think ahead and don’t wait. Start your process now!<br
      /><br/>Rachel is both a dedicated real estate agent and a move management consultant with a proven track record and
      over 25 years of experience in sales and marketing. She is committed to securing the best financial outcomes for
      her clients and has a proven track record of success in representing both buyers and sellers. Rachel has expertise
      in home renovation and is able to provide insightful advice to those buying or selling a property. She is a native
      of Boston and has lived in Wellesley for 20+ years, actively involved in her community through her membership in
      various programs and committees. Rachel and her family also own a home on Cape Cod and she is happy to assist
      buyers in their search for properties there.
    </p>
  </div>
</div>

<style>
  .modalDialog {
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 150ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .close:hover {
    background-color: #bebebe84;
    border-radius: 10%;
  }
  @media only screen and (max-width: 520px) {
    .modalDialog > div {
      margin: 10% 5% 10% 5%;
    }
  }
</style>
