---
export interface Props {
  title: string;
  body: string;
  src: string;
}

const { src, title, body } = Astro.props;
---

<li class="link-card">
  <a>
    <div class="image-container">
      <img src={src} alt="Astro" />
    </div>
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 0.25rem;
    background-color: white;
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    width: 20vw;
    min-width:16rem;
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .image-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
  img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: var(--accent);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #444;
  }
</style>
